#Stripe
STRIPE_API_KEY=
NEXT_PUBLIC_STRIPE_API_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PRODUCT_PRICE_ID=
STRIPE_SUCCESS_URL=http://localhost:3000/posts
STRIPE_CANCEL_URL=http://localhost:3000/

#Github
GITHUB_ID=
GITHUB_SECRET=

#FaunaDB
FAUNADB_KEY=

#JWT
JWT_SIGNING_PRIVATE_KEY=

#NextAuth
NEXTAUTH_URL=http://localhost:3000

#Prismic CMS
PRISMIC_ENDPOINT=
PRISMIC_ACCESS_TOKEN=